h1 {
  text-align: center;
  border-bottom: 1px solid coral;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.align {
  position: absolute;
  left: 400px;
}

p {
  margin: 10px 0px;
}

#image,
#age {
  margin-top: 15px;
}

#hobbies,
#trans {
  margin-bottom: 65px;
}

#sub,
#res {
  margin: 10px;
  padding: 15px;
  width: 7em;
  border: none;
  border-radius: 12px;
  font-size: 20px;
}
#sub {
  background-color: coral;
}

#sub:hover {
  background-color: grey;
  font-weight: 600;
}

#res {
  background-color: grey;
}
#res:hover {
  background-color: crimson;
}
